<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="app-wrapper">
  <router-outlet></router-outlet>
  <!--app-post-create-form></app-post-create-form>
  <app-post-list></app-post-list-->
  <!-- app-post-create (postCreated)="onPostAdded($event)"></app-post-create-->
  <!--  -->
  <!-- listen for postCreated event, and call handler method onPostAdded-->
  <!-- Standard way of event binding in Angular.JS-->
  <!--app-post-list [posts]="existingPosts"></app-post-list-->
</div>
