/* :host{
  width: 60%;
  height: 60%;
  padding-top: 20px;
} */

.card-wrapper{
  padding-top: 20px!important;
}

mat-card{

  width: 60%;
  /* height: 60%; */
  margin: auto;
}

mat-spinner{
  width: 50%;
  margin: auto;
}


mat-form-field,textarea{
  width: 100%;
}
/* .mat-form-field */
.mat-form-field-appearance-legacy .mat-form-field-label .mat-form-empty .mat-empty .mat-form-field-empty{
  color: rgba(81, 46, 206, 0.83)!important;
  font-size: 1.2em!important;
}

.img-loader{
  margin-bottom: 8px;

}

.mat-stroked-button {
  font-size: 1.5em!important;
}

input[type="file"]{
  visibility: hidden;
}

.image-preview{
  height: 300px;
  margin: 1rem 0;
}

.image-preview img{

  height: 100%;
}
/* mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-untouched ng-pristine ng-invalid */
/* .mat-form-field-label:not(.mat-form-field-empty){
  color:purple!important;
  font-size:2em!important;
} */


/* .mat-form-field-appearance-legacy .mat-form-field-can-float .mat-form-field-should-float
.mat-form-field-label:not(.mat-empty):not(.mat-form-field-empty){
  color:red!important;
  font-size: 2em!important;
} */

/* input:not(:focus) {
  font-size:3em !important;
} */
/* .mat-form-field-appearance-legacy .mat-form-field-infix mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored{

} */

/* mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-untouched ng-pristine ng-invalid */
